<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliates</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="top-banner">
        <img src="../static/images/icons/Menu Vector.svg" id="menuVector" class="banner-vector" alt="vector" onclick="toggleModal()">
        <img src="../static/images/icons/X Vector.svg" id="xVector" class="banner-vector" alt="vector" style="display: none;" onclick="toggleModal()">
        <img src="../static/images/ENSUITE Text Logo.svg" class="logo" alt="logo">
        <a href="{{ url_for('select_avatar') }}">
            <img src="{{ url_for('static', filename='images/avatars/' + avatar) }}" class="avatar" alt="avatar">
        </a>
    </div>
    <h1>Your Affiliates</h1>
    <div class="content">
        <div class="affiliate-log">
            {% if has_referrals %}
                {% set total_entries = referred_ambassadors|length %}
                {% for ambassador in referred_ambassadors %}
                    {% if loop.index == total_entries - 4 and total_entries >= 5 %}
                        <div class="special-container">
                            <div class="milestone-line"></div>
                            <p>+$2 commission | New Milestone!</p>
                            <div class="milestone-line"></div>
                        </div>
                    {% endif %}
                    {% if loop.index == total_entries - 9 and total_entries >= 10 %}
                        <div class="special-container">
                            <div class="milestone-line"></div>
                            <p>+$2 commission | New Milestone!</p>
                            <div class="milestone-line"></div>
                        </div>
                    {% endif %}
                    <div class="affiliate-entry">
                        <img src="{{ url_for('static', filename='images/avatars/' + ambassador[1]) }}" class="affiliate-avatar" alt="avatar">
                        <div class="entry-text">
                            <div class="affiliate-name">{{ ambassador[0] }}</div>
                            <p>Ambassador</p>
                        </div>
                        <div class="affiliate-date">{{ ambassador[2] }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-referrals-message" style="margin-top: 50%;">Students and ambassadors that sign up<br>with your code will appear here</p>
            {% endif %}
        </div>
    </div>
    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <a href="{{ url_for('dashboard') }}" class="modal-button">Dashboard</a>
            <a href="{{ url_for('affiliates') }}" class="modal-button">Affiliates</a>
            <a href="{{ url_for('leaderboard') }}" class="modal-button">Leaderboard</a>
            <a href="{{ url_for('settings') }}" class="modal-button">Settings</a>
            <a href="{{ url_for('logout') }}" class="modal-button">Logout</a>
        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var menuVector = document.getElementById("menuVector");
        var xVector = document.getElementById("xVector");

        function toggleModal() {
            if (modal.style.display === "block") {
                modal.style.display = "none";
                menuVector.style.display = "inline";
                xVector.style.display = "none";
            } else {
                modal.style.display = "block";
                menuVector.style.display = "none";
                xVector.style.display = "inline";
            }
        }

        function closeModal(event) {
            if (event.target == modal) {
                toggleModal();
            }
        }

        window.addEventListener('click', closeModal);
        window.addEventListener('touchend', closeModal);
    </script>
    <script>
        function setViewportHeight() {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        }
    
        // Initial call to set the viewport height
        setViewportHeight();
    
        // Update the viewport height on resize
        window.addEventListener('resize', setViewportHeight);
    </script>    
</body>
</html>